@model ewallet.shared.Models.Login.LoginCommon
@{
    ViewBag.Title = "Set New Password";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Raw(ViewBag.Title ?? "Set New Password")</title>

    @Styles.Render("~/UI/DesignCss")
    @Scripts.Render("~/UI/CoreJs")
    @Scripts.Render("~/UI/AppJs")
    @Scripts.Render("~/UI/ThemeJs")
    @Styles.Render("~/Content/loginSheet.css")

    @*<style>
        element.style {
            overflow: hidden;
        }
    </style>*@
</head>
<body>
    <div class="container" id="container">

        @using (Html.BeginForm("ChangePassword", "home", new { }, FormMethod.Post, new { @role = "form", @id = "passwordchange" }))
        {
            @Html.AntiForgeryToken()
            <h1>Set Password</h1>
            <span>Enter the Password</span>
            <br />
            
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.ActivationCode)
            <div class="row">
                @if (ViewData["msg"] != null)
                {
                    <span>@Html.Raw(ViewData["msg"])</span>
                }
                @Html.NTextBoxFor(m => m.Password, new {  @placeholder = "Password", @type = "password" }, 1, displayName: false)
                @*@Html.ValidationMessageFor(m => m.Password, null, new { @class = "form-text text-danger" })*@
                @Html.NTextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @type = "password" }, 1, displayName: false)
                @*@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "form-text text-danger" })*@
            </div>
            <div class="form-group">
                <button type="submit" name="submit" value="Save">Save</button>

            </div>
        }
    </div>

</body>
