@model ewallet.shared.Models.Login.LoginCommon
@{
    ViewBag.Title = "Forgot Password";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Raw(ViewBag.Title ?? "Verification Code")</title>

    @Styles.Render("~/UI/DesignCss")
    @Scripts.Render("~/UI/CoreJs")
    @Scripts.Render("~/UI/AppJs")
    @Scripts.Render("~/UI/ThemeJs")
    @Styles.Render("~/Content/loginSheet.css")

    <style>
        element.style {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="container px-0">
        @{
            var submitAction = "";

            submitAction = "ForgotPassword";

            bool valid = true;
            if (TempData["isValid"] != null)
            {
                valid = (bool)TempData["isValid"];
            }

        }
        @*<div class="row">
            <div class="col-md-12">*@
        @using (Html.BeginForm(submitAction, "home", new { }, FormMethod.Post, new { @role = "form", @id = "loginform" }))
        {
            <div>
                @Html.AntiForgeryToken()
                <h1>Forgot Password</h1>

                @if (submitAction == "forgotpasswordverifycode")
                {
                    <span>Enter the Verification code</span>
                    <span style="color:green" id="valid">Username Verified. Check your Email for Verification Code </span>

                }
                @*else if (!valid)
                {
                    <span style="color:red" id="invalid">Username Invalid</span>
                }*@
                <br />
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Email Id or Mobile Number!" })
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "form-text text-danger" })

            <div class="form-group col-md-4 ml-auto mr-auto">
                <input type="submit" name="next1" id="next1" class="success" value="Next" />
            </div>
            </div>
        }

        @*</div>
            </div>*@
    </div>

</body>
</html>
