@model ewallet.application.Models.BalanceModel
@{
    ViewBag.Title = "AgentReportDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("admin/balance/agentreport", "Agent Report Detail",ControllerDisplayName: "Agent Balance Report");}
@*@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("admin/user/Profile", "Details", ControllerDisplayName: "Profile");}*@

@section BreadCum{
    <style>
        .pull-right {
            float: right;
            margin-left: auto;
        }
    </style>
    @Html.Raw(BreadCum)
}
<div class="card">
    <div class="card-body">
        <fieldset class="mb-1">
            <div class="row">
                @Html.NTextBoxFor(model => model.AgentId, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.Name, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.BankName, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.BankBranch, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.BankAcccountNo, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.OldBalance, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.Amount, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.NewBalance, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.Type, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.CreatedBy, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.CreatedDate, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
                @Html.NTextBoxFor(model => model.CreatedNepaliDate, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" }, 3)
            </div>
        </fieldset>
    </div>
</div>
