@using System.Web.UI.WebControls
@model ewallet.application.Models.ClientModel

@{
    ViewBag.Title = "MobileTopUp";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("MobileTopUp", "Mobile TopUp");}
@section BreadCum{
    <style>
        .pull-right {
            float: right;
            margin-left: auto;
        }
    </style>
    @Html.Raw(BreadCum)
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("MobileTopUp", "Payment", new { }, FormMethod.Post, new { @role = "form", @id = "MobileTopupPage" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(Model => Model.ProductId)
            @Html.HiddenFor(Model => Model.CommissionType)
            @Html.HiddenFor(Model => Model.CommissionValue)
            @*@Html.HiddenFor(Model => Model.Type)*@
            <fieldset class="mb-3">
                <div class="row">
                    <div class="col-md-6">

                        @*@Html.NSwitchBoxFor(model => model.Type, Model.Type == "Y" ? true : false, "Y", 1)*@
                        @Html.NTextBoxFor(model => model.MobileNo, new { @class = "form-control", autocomplete = "off", @maxlength = "10", @placeholder = "Mobile(10 digits)/Landline(8 digits)", @onkeypress = "return isNumber(event)", @oninput = "checkValidation()" }, 1)
                        <div class="form-group col-md-12" id="MobNoError" style="margin-top:-11px;"></div>
                        @Html.NTextBoxFor(model => model.Amount, new { @class = "form-control", @maxlength = "5", autocomplete = "off", @onkeypress = "return isNumber(event)", @oninput = "amtValid()" }, 1)

                        <br />
                        <div class="row" id="filter-box">
                            <div class="col-md-12">
                                @Html.NTextBoxFor(model => model.CardNo, new { @class = "form-control", @maxlength = "16", autocomplete = "off", @PlaceHolder = "ENTER YOUR CARD NUMBER", @onkeypress = "return isNumber(event)", @required = "required" }, 1)
                            </div>
                        </div>
                        <br />

                        <!-- Styled inline radio group -->
                        <div class="form-group col-md-12" style="display: none">
                            <label class="col-form-label">Payment By <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        @*@Html.RadioButtonFor(model => model.TxtType, "Wallet", new { @name = "AgentOperationType", @class = "form-check-input-styled" })*@
                                        <input type="radio" name="styled_inline_radio" class="form-check-input-styled" required data-fouc value="Wallet">
                                        Wallet
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" name="styled_inline_radio" class="form-check-input-styled" data-fouc value="EBank">
                                        E Banking
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" name="styled_inline_radio" class="form-check-input-styled" data-fouc value="MBank">
                                        Mobile Banking
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /styled inline radio group -->

                    </div>
                    <div class="col-md-4">
                        <div><img id="LogoView" height="200" width="200" style="border: solid; text-align: center;" /></div>
                    </div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="col-lg-12">
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_backdrop" id="ConfirmButton">Confirm <i class="icon-play3"></i></button>

                </div>
                <br />
                <div class="col-md-6 alert alert-success bg-white">
                    <div class="row">
                        <label style="font-weight: bold; font-size: 80%;">Transaction Limit: @Model.TxnLimitMax</label>
                    </div>
                    <div class="row">
                        <label style="font-weight: bold; font-size: 80%;">Daily Transaction Limit: @Model.TxnDailyLimitMax</label>
                    </div>
                    <div class="row">
                        <label style="font-weight: bold; font-size: 80%;">Monthly Transaction Limit: @Model.TxnMonthlyLimitMax</label>
                    </div>
                    <div class="row">
                        <label style="font-weight: bold; font-size: 80%;">Remaining Daily Transaction Limit: @Model.TxnDailyRemainingLimit</label>
                    </div>
                    <div class="row">
                        <label style="font-weight: bold; font-size: 80%;">Remaining Monthly Transaction Limit: @Model.TxnMonthlyRemainingLimit</label>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<!-- Disabled backdrop -->
<div id="modal_backdrop" class="modal fade" data-backdrop="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @*<p id="DetailsHere"></p>*@
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-sm" id="btnSubmit">Yes <i class="icon-floppy-disk ml-2"></i></button>
                <button type="button" class="btn btn-danger btn-sm" id="btnReject" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/js/plugins/notifications/sweet_alert.min.js"></script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function isNumberDot(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
            return false;
        }
        return true;
    }
    function checkValidation() {
        var mobileNo = $("#MobileNo").val();
        if (mobileNo.trim() != "" && mobileNo.length == 10) {
            $.ajax({
                type: 'POST',
                async: true,
                url: '@Url.Action("CheckMobileNumber")',
                dataType: 'json',
                data: { MobileNo: mobileNo },
                success: function(validMob) {
                    /*debugger*/;
                    var validMobCode = validMob.Code;
                    var validMobMessage = validMob.Message;
                    var logoUrl = validMob.LogoUrl;
                    var productId = validMob.ProductId;
                    var minAmount = validMob.MinAmount;
                    var maxAmount = validMob.MaxAmount;
                    var commissionValue = validMob.CommissionValue;
                    var commissionType = validMob.CommissionType;
                    if (validMobCode == 0) {
                        /*debugger*/;
                        $("#ProductId").val(productId);
                        $("#CommissionType").val(commissionType);
                        $("#CommissionValue").val(commissionValue);
                        $('#MobNoError').addClass("text-success").html(validMobMessage);
                        $(".AmountdivClass").show();
                        $(".CardNodivClass").show();
                        $(".CardNodivClass label").hide();
                        $(".cardclass").show();
                        $("[name='Amount']").attr("placeholder", "Amount must be in between "+minAmount +" & "+maxAmount);
                        $("#LogoView").show();
                        document.getElementById("LogoView").src = logoUrl;
                        //$('span[data-valmsg-for="MobileNo"]').removeClass("field-validation-valid text-danger").html("");
                        //$('span[data-valmsg-for="MobileNo"]').addClass("field-validation-error text-success").html(validMobMessage);
                    } else {
                        $('#MobNoError').addClass("text-danger").html(validMobMessage);
                        $("#LogoView").hide();
                        $(".CardNodivClass").hide();
                        $(".CardNodivClass label").hide();
                        $(".cardclass").hide();
                        //$('span[data-valmsg-for="MobileNo"]').removeClass("field-validation-valid text-success").html("");
                        //$('span[data-valmsg-for="MobileNo"]').addClass("field-validation-error text-danger").html(validMobMessage);
                    }
                },
                error: function (ex) {
                    alert('Failed to Determine Phone Number!!' + ex);
                }
            });
            return false;
        } else {
            $('#MobNoError').removeClass("text-success").html("");
            $('#MobNoError').removeClass("text-danger").html("");
            $("#LogoView").hide();
            $(".AmountdivClass").hide();
            $(".CardNodivClass").hide();
            $(".CardNodivClass label").hide();
            $(".cardclass").hide();
            $("[name='Amount']").val('');
            //$('span[data-valmsg-for="MobileNo"]').html("").removeClass("text-danger");
            //$('span[data-valmsg-for="MobileNo"]').html("").removeClass("text-success");
            //$('span[data-valmsg-for="MobileNo"]').addClass("field-validation-valid text-danger");
        }
        return false;
    }
    function amtValid() {
        var amount = $("[name='Amount']").val();
        if (amount == "") {
            amount = 0;
        }
        amount = parseFloat(amount);
        /*debugger*/;
        if (amount<minAmount || amount>maxAmount ) {
            $('span[data-valmsg-for="Amount"]').removeClass("field-validation-valid text-success");
            $('span[data-valmsg-for="Amount"]').addClass("field-validation-error text-danger").html("Amount is Not Valid");
        }

        else {
            $('span[data-valmsg-for="Amount"]').html("");
        }
    }

    $("#filter-statement").click(function (e) {
        e.preventDefault();
        $("#filter-box").fadeToggle();
    });

    $('#ConfirmButton').click(function (e) {
        var Amount = $("[name='Amount']").val();
        var MobileNum = $("[name='MobileNo']").val();
        var commissionType= $("#CommissionType").val();
        var commissionValue = $("#CommissionValue").val();
        var cardNo = $("#CardNo").val();
        console.log(MobileNum);
        console.log(Amount);
        console.log(cardNo);
        if (commissionValue == "") {
            commissionValue = 0;
        }
        commissionValue = parseFloat(commissionValue);

        if (Amount === "" || MobileNum === "" || cardNo === "") {
            $(".modal-body").empty().prepend('<p>Please enter Mobile Number , Amount and Card No</p>');
            $("#btnSubmit").hide();
            $("#btnReject").html('Okay');
        } else {
            $(".modal-body").empty().prepend("<p><h4 class=" + "modal-title" + ">You're about to perform this transaction. Are you sure?</h4></p>");
            if (commissionType == "P") {
                /*debugger*/;
                var perCashBack = (parseFloat(Amount) / 100) * commissionValue;
                perCashBack=perCashBack.toFixed(2);
            $(".modal-body").append("<p>Topup Mobile Number: "+ MobileNum +" Amount Rs.: " + Amount + "</p><br /><p>Cash Back: "+ commissionValue +"% <br /> Cashback Amount: RS."+perCashBack+"</p>");
            }
            if (commissionType == "F") {
                var flatCashBack = commissionValue;
                $(".modal-body").append("<p>Topup Mobile Number: "+ MobileNum +" Amount Rs.: " + Amount + "</p><br /><p> Cashback Amount: RS."+flatCashBack+"</p>");
            }

            $("#btnSubmit").show();
            $("#btnReject").html('No');
        }
        //$("#DetailsHere").empty().prepend("Topup Amount Rs."+$("[name='Amount']").val()+" to "+$("[name='MobileNo']").val());
    });
    $('#btnSubmit').click(function (e) {
        document.getElementById("MobileTopupPage").submit();
    });
    $(document).ready(function () {

        $(".AmountdivClass").hide();
        $(".CardNodivClass").hide();
        $(".CardNodivClass label").hide();
        $(".cardclass").hide();
        $("#LogoView").hide();
    });
</script>

