@model ewallet.application.Models.AppVersionControlModel
@{
    ViewBag.Title = "Manage App Version";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("App Version", "Manage");
}


@section BreadCum{
    @Html.Raw(BreadCum)}

<div class="card" style="zoom: 1;">

    <div class="card-body" style="">
        @using (Html.BeginForm("Manage", "AppVersionControl", new { }, FormMethod.Post, new { @role = "form", @id = "AppVersionControl", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.VersionId)
            @Html.HiddenFor(model => model.IsMajorUpdate)
            @Html.HiddenFor(model => model.IsMinorUpdate)
            <fieldset>

                <div class="row">
                    @Html.NDropDownListFor(model => model.AppPlatform, new SelectList(ViewBag.platform, "Value", "Text"), new { @class = "form-control", autocomplete = "off" }, 3)

                </div>
                <div class="row">
                    @Html.NTextBoxFor(model => model.AppVersion, new { @class = "form-control", autocomplete = "off" }, 3)
                </div>
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom: 10px">
                        @Html.LabelFor(model => model.IsMajorUpdate, new { @class = "label", autocomplete = "off" })
                        <div class="form-check form-check-switchery form-check-switchery-double">
                            <label class="form-check-label">                                
                                <input type="checkbox" class="form-input-switchery" id="major" data-fouc data-switchery="true" style="display: none;">                               
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding-bottom: 10px">
                        @Html.LabelFor(model => model.IsMinorUpdate, new { @class = "label", autocomplete = "off" })
                        <div class="form-check form-check-switchery form-check-switchery-double">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-input-switchery" id="minor" data-fouc data-switchery="true" style="display: none;">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @Html.NTextAreaFor(model => model.AppUpdateInfo, new { @class = "form-control", autocomplete = "off", @rows = "4" }, 3)

                </div>              
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success btn-sm">Save <i class="icon-floppy-disk ml-2"></i></button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<script>
     $('#major').change(function (e) {
       if ($('#major').is(":checked")) {
            $('#IsMajorUpdate').val('Y');
           
        } else {
          
            $('#IsMajorUpdate').val('N');
        }
     });
      $('#minor').change(function (e) {
       if ($('#minor').is(":checked")) {
            $('#IsMinorUpdate').val('Y');
           
        } else {
          
            $('#IsMinorUpdate').val('N');
        }
    });
</script>