@model ewallet.application.Models.CardModel

@{
    ViewBag.Title = "Card User";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("Client/Cards", "Card Retrieve/Transfer", ControllerDisplayName: "Cards");}
@section BreadCum{
    <style>
        .pull-right {
            float: right;
            margin-left: auto;
        }
    </style>
    @Html.Raw(BreadCum)
}



<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("CardUser", "Cards", new { }, FormMethod.Post, new { @role = "form", @id = "CardUser" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(Model => Model.Type)
            @Html.HiddenFor(Model => Model.CardId)
            string checke = "";
            if (string.IsNullOrEmpty(Model.Type) || Model.Type == "tr")
            {

                checke = "checked";

            }

            <fieldset class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-lg-12" style="padding-bottom: 10px">
                            @Html.LabelFor(model => model.Type, "Select Type", new { @class = "label", autocomplete = "off" })
                            <div class="form-check form-check-switchery form-check-switchery-double">
                                <label class="form-check-label">
                                    Retrieve
                                    <input type="checkbox" class="form-input-switchery" id="RTCheckbox" @Html.Raw(checke) data-fouc data-switchery="true" style="display: none;">
                                    Transfer
                                </label>
                            </div>
                        </div>
                        @Html.NDropDownListFor(model => model.CardType, new SelectList(Model.CardTypeList, "Value", "Text"), new { @class = "form-control", autocomplete = "off" }, 1)
                        @Html.NDropDownListFor(model => model.CardNo, Model.CardNoList, new { @class = "form-control", autocomplete = "off" }, 1)
                        @Html.NTextBoxFor(model => model.MobileNo, new { @class = "form-control", autocomplete = "off", @maxlength = "10", @onkeypress = "return isNumberDot(event)", @oninput = "checkValidation()" }, 1)
                        <div class="form-group col-md-12" id="MobNoError" style="margin-top:-11px;"></div>
                    </div>
                    <div class="col-md-6">&nbsp;</div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success btn-sm" id="btnSubmit">Transfer <i class="icon-floppy-disk ml-2"></i></button>
                    <a href="/Client/Cards/Index" class="btn btn-primary btn-sm ml-2" id="backbutton">Back  <i class="icon-backward ml-2"></i></a>

                </div>
            </fieldset>
        }
    </div>
</div>


<script>
    function isNumberDot(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
            return false;
        }
        return true;
    }

    $('#RTCheckbox').change(function (e) {
        if ($('#RTCheckbox').is(":checked")) {
            $('#Type').val('tr');
            $("#CardType").val('');
            $("#CardNo").val('');
            $(".MobileNodivClass").show();
            $("#btnSubmit").html("").append('<strong>Transfer<i class="icon-floppy-disk ml-2"></i></strong>');
        } else {
            $(".MobileNodivClass").hide();
            $("#CardType").val('');
            $("#CardNo").val('');
            $("#btnSubmit").html("").append('<strong>Retrieve<i class="icon-floppy-disk ml-2"></i></strong>');
            $('#Type').val('re');
        }
    });

    $('#btnSubmit').click(function (e) {
        if ($('#RTCheckbox').prop("checked") == false) {
            $('#MobileNo').rules('remove');
            $('#MobileNo-error').text('');
        }
        debugger;
        var mobileno = $("#MobileNo").val();
        var cardno = $("#CardNo").val();
        var cardtype = $("#CardType").val();
        var type = $('#Type').val();
        if (cardno != "" && cardtype != "") {
            if (type == 're') {
                $("#btnSubmit").attr("disabled", true);
                $("#backbutton").attr("disabled", true);
            }
            if (type == 'tr' && mobileno != "") {
                $("#btnSubmit").attr("disabled", true);
                $("#backbutton").attr("disabled", true);
            }
        }
        document.getElementById("CardUser").submit();
    });
    $(document).ready(function () {
        //$('#CardType option:eq(0)').attr('selected','selected');
        debugger;
        if ($('#RTCheckbox').is(":checked")) {
            $('#Type').val('tr');
            $("#btnSubmit").html("").append('<strong>Transfer<i class="icon-floppy-disk ml-2"></i></strong>');
        } else {
            $("#btnSubmit").html("").append('<strong>Retrieve<i class="icon-floppy-disk ml-2"></i></strong>');
            $('#Type').val('re');
            $(".MobileNodivClass").hide();
        }

        var cardType = $('#CardType').val();
        var cardNo = $('#CardNo').val();
        if (cardType != "" && cardNo == "") {
            //debugger;
            $("#CardNo").empty().prepend("<option value='' disabled selected>--Select Card Number--</option>");
            var cardType = $("#CardType").val();
            $.ajax({
                type: 'POST',
                async: true,
                url: '@Url.Action("GetCards")',
                dataType: 'json',
                data: { cardType: cardType },
                success: function (cards) {
                    $.each(cards, function (i, card) {
                        $("#CardNo").append('<option value="' + card.Value + '">' + card.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Cards.' + ex);
                }
            });
            return false;
        }

    });
    //For CardNumber
    $("#CardType").change(function () {
        $("#CardNo").empty().prepend("<option value='' disabled selected>--Select Card Number--</option>");
        var cardType = $("#CardType").val();
        var checkboxType= $('#Type').val();

        $.ajax({
            type: 'POST',
            async: true,
            url: '@Url.Action("GetTRCards")',
            dataType: 'json',
            data: {
                cardType: cardType,
                checkboxtype:checkboxType
            },
            success: function (cards) {
                $.each(cards, function (i, card) {
                    $("#CardNo").append('<option value="' + card.Value + '">' + card.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Cards.' + ex);
            }
        });
        return false;
    });
    //For User Validation
    function checkValidation() {
        var mobileNo = $("#MobileNo").val();
        if (mobileNo.trim() != "" && mobileNo.length == 10) {
            $.ajax({
                type: 'POST',
                async: true,
                url: '@Url.Action("ValidMobileNo")',
                dataType: 'json',
                data: {
                    mobileNum: mobileNo
                },
                success: function(validMob) {
                    var validMobCode = validMob.Code;
                    if (validMobCode == 0) {
                        $('#MobNoError').addClass("text-success").html("Valid User");
                        $('#MobNoError').show();
                    } else {
                        $('#MobNoError').addClass("text-danger").html("Invalid User");
                        $('#MobNoError').show();
                    }
                },
                error: function(ex) {
                    alert('Failed to retrieve User.' + ex);
                }
            });
            return false;
        } else {
            $('#MobNoError').removeClass("text-success").html("");
            $('#MobNoError').removeClass("text-danger").html("");
            $('#MobNoError').hide();
        }
        return false;
    };
</script>

