@model ewallet.shared.Models.AgentCommon

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("Agent", (String.IsNullOrEmpty(Model.UserId) ? "Add" : "Update") + " Agent User");
}
@section BreadCum{
    @Html.Raw(BreadCum)}
<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">
            <b style="color:red">*</b><b> Note: Please fill out all the field stating *(Mandatory) </b>
        </h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("ManageAgentUsers", "Agent", new { ReturnUrl = "Index" }, FormMethod.Post, new { @id = "Index", enctype = "multipart/form-data" }))
        {
            string check = null;
            if (Model.UserStatus == "Yes")
            {
                check = "checked";
            }
            @Html.AntiForgeryToken()
            @Html.HiddenFor(c => c.UserId)
            @Html.HiddenFor(c => c.AgentID)
            @Html.HiddenFor(c => c.UserStatus)
            <fieldset>
                <div class="mb-3">
                    <div class="row">
                        @Html.NTextBoxFor(model => model.UserFullName, new { @class = "form-control", autocomplete = "off" }, 3)
                        @Html.NTextBoxFor(model => model.UserEmail, new { @class = "form-control", autocomplete = "off" }, 3)
                        @Html.NTextBoxFor(model => model.UserMobileNo, new { @class = "form-control", autocomplete = "off" }, 3)
                        @Html.NTextBoxFor(model => model.UserName, new { @class = "form-control", autocomplete = "off" }, 3)
                        @if (string.IsNullOrEmpty(Model.UserId))
                        {
                            @Html.NTextBoxFor(model => model.Password, new { @class = "form-control", autocomplete = "off", @type = "password" }, 3)
                            @Html.NTextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", autocomplete = "off", @type = "password" }, 3)
                        }
                        @*@Html.NDropDownListFor(model => model.UserType, new SelectList(Model.UserTypeList, "Value", "Text"), new { @class = "form-control ", @autocomplete = "off" }, 3)
                            @Html.NDropDownListFor(model => model.UserIsPrimary, new SelectList(Model.UserIsPrimaryList, "Text", "Value"), new { @class = "form-control ", @autocomplete = "off" }, 3)*@
                    </div>

                    <hr />
                    @*@Html.LabelFor(model => model.UserStatus, "User status", new { @class = "label", autocomplete = "off" })
                        <br />
                        <div class="form-check form-check-switchery form-check-switchery-double">
                            <label class="form-check-label">
                                Disable
                                <input type="checkbox" class="form-input-switchery" data-fouc data-switchery="true" @Html.Raw(check) style="display: none;" id="checkbox" />
                                Enable
                            </label>
                        </div>*@

                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-success btn-sm">Save <i class="icon-floppy-disk ml-2"></i></button>
                        </div>
                    </div>
                </div>
            </fieldset>
        }

    </div>
</div>

<script type="text/javascript">

    $('#checkbox').change(function (e) {
        /*debugger*/;
        if ($('#checkbox').is(":checked")) {
            $('#UserStatus').val('Yes');
        } else {
            $('#UserStatus').val('No');
        }
    });
    $(document).ready(function () {
        /*debugger*/;
        if ($('#checkbox').is(":checked")) {
            $('#UserStatus').val('Yes');
        } else {
            $('#UserStatus').val('No');
        }
    });
</script>
