@model IEnumerable<ewallet.application.Models.ServicesModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">

        @if (ApplicationUtilities.GetSessionValue("KycStatus").ToString() == "p"  )
        {
            <div class="alert alert-info alert-styled-left alert-dismissible">Your KYC is not verified.</div>
        }
        else if (ApplicationUtilities.GetSessionValue("KycStatus").ToString() == "n")
        {
            <div class="alert alert-info alert-styled-left alert-dismissible">It looks like you have not submitted KYC form !!</div>
        }
        else if (ApplicationUtilities.GetSessionValue("KycStatus").ToString() == "r")
        {
            <div class="alert alert-info alert-styled-left alert-dismissible">Your KYC has been rejected. Please submit again.</div>
        }

        
        @{
            int i = 1;
            //var totalGroup = Model.OrderByDescending(x => x.ProductCategory).Where(x => x.Status == "Y").GroupBy(x => x.ProductCategory).Distinct();
            var totalGroup = Model.Where(x => x.Status == "Y").GroupBy(x => x.ProductCategory).Distinct();
        }

        @foreach (var CatagoryLabel in totalGroup)
        {
            <label style="position: center;font-weight: bold; font-size: 120%">@CatagoryLabel.Key</label>
            <div class="row">
                @foreach (var item in Model.Where(x => x.ProductCategory == @CatagoryLabel.Key && x.Status.ToString() == "Y"))
                {
                    if (item.Status.ToString() == "Y")
                    {
                        <div class="col-md-2 fix-service-layout">
                            <a href="@item.ClientPmtUrl">
                                @*<input type="checkbox" id=@item.ProductId @if (item.Status.ToString() == "Y") { @Html.Raw("checked") } />*@
                                <label class="list-item-frame" for=@item.ProductId style="position: center">
                                    <img src="/Content/assets/images/service logos/@item.ProductLogo" style="float: center;" /><br>
                                    <label class="list-item-text">
                                        <div class="produt-label"></div>
                                        @item.ProductLabel
                                        <div class="commission">
                                            @if (item.CommissionType.ToUpper() == "P")
                                            {
                                                @item.CommissionValue @Html.Raw("%")
                                            }
                                            @if (item.CommissionType.ToUpper() == "F")
                                            {
                                                @Html.Raw("Rs.") @item.CommissionValue
                                            }
                                        </div>

                                    </label>
                                </label>
                            </a>
                        </div>
                        if (i % 6 == 0)
                        {
                            i = 0;
                            <br />
                        }
                        i = i + 1;
                    }
                }
            </div>
        }
    </div>
</div>

<script>

    function Savestatus() {
        var list = new Array();
        /*debugger*/;
        var i = 0;
        $("input").each(function (index) {

            if ($(this).is("label")) {
                list.push($("input")[i].id);
            }

            i++;
        });
    }
</script>


