@model ewallet.application.Models.SubDistributorCreditLimitModel
<fieldset id="SubmitForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AgentId)
    @Html.HiddenFor(m => m.ParentId)

    <div class="form-group">
        @Html.NTextBoxFor(model => model.AgentName, new { @class = "form-control", autocomplete = "off", disabled = "disabled" }, 2)
    </div>


    <div class="form-group">
        @Html.NTextBoxFor(model => model.AgentCurrentCreditLimit, new { @class = "form-control", autocomplete = "off", disabled = "disabled" }, 2)


    </div>
    <div class="form-group">
        @Html.NTextBoxFor(model => model.AgentCreditLimit, new { @class = "form-control", autocomplete = "off", @onkeypress = "return isNumberMinusDot(event)" }, 2)

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Remarks, new { @class = "col-lg-6" })

        @Html.ValidationMessageFor(model => model.Remarks)
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", autocomplete = "off", @placeholder = "Remarks" })

        </div>


    </div>
    <div class="form-group">
        <a href="#" class="btn btn-block btn-success" id="AddCreditLimit">Save</a>
    </div>

</fieldset>
<script>
    //$(document).ready(function () {

    //    $("#AgentCreditLimit").on("keypress keyup blur", function (event) {
    //        //this.value = this.value.replace(/[^0-9\.]/g,'');
    //        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
    //        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
    //            event.preventDefault();
    //        }
    //    });
    //});
    function isNumberMinusDot(evt) {
       
       evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
    }
</script>