@model ewallet.application.Models.WalletUserInfoModel
@{
    ViewBag.Title = "AddClient";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("Customer Management", "Add User");}
@section BreadCum{
    <style>
        .pull-right {
            float: right;
            margin-left: auto;
        }
    </style>
    @Html.Raw(BreadCum)
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("AddClient", "ClientUser", new { }, FormMethod.Post, new { @role = "form", @id = "AddUser" }))
        {
            @Html.AntiForgeryToken()
            <fieldset class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        @*@Html.NSwitchBoxFor(model => model.Type, Model.Type == "Y" ? true : false, "Y", 1)*@
                        @Html.NTextBoxFor(model => model.FullName, new { @class = "form-control", autocomplete = "off", @placeholder = "Full Name" }, 1)
                        @Html.NTextBoxFor(model => model.Email, new { @class = "form-control", autocomplete = "off", @placeholder = "myemail@email.com" }, 1)
                        @Html.NTextBoxFor(model => model.MobileNo, new { @class = "form-control", autocomplete = "off", @maxlength = "10", @placeholder = "Mobile(10 digits)", @onkeypress = "return isNumber(event)" }, 1)
                    </div>
                    <div class="col-md-6">&nbsp;</div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success btn-sm" id="btnSubmit">Sign Up <i class="icon-floppy-disk ml-2"></i></button>
                </div>
            </fieldset>

        }
    </div>
</div>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>