@model ewallet.application.Models.UserModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("Client/ClientUser/ChangePassword", "Change Password", ControllerDisplayName: "Profile");}
    <style>
    .pull-right {
        float: right;
        margin-left: auto;
    }
</style>
@Html.Raw(BreadCum)


<div class="card">
    <div class="card-header header-elements-inline">
        <legend class="card-title text-uppercase font-size-sm font-weight-bold"> Change Password</legend>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("ChangePassword", "ClientUser", FormMethod.Post, new { @role = "form", @id = "ChangePassword", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <fieldset class="mb-3">
                <div class="row">
                    @Html.NTextBoxFor(model => model.OldPassword, new { @class = "form-control", autocomplete = "off", @type = "password" }, 3)
                </div>
                <div class="row">
                    @Html.NTextBoxFor(model => model.UserPwd, new { @class = "form-control", autocomplete = "off", @type = "password" }, 3)
                </div>
                <div class="row">
                    @Html.NTextBoxFor(model => model.ConfirmUserPwd, new { @class = "form-control", autocomplete = "off", @type = "password" }, 3)
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success btn-sm">Save <i class="icon-floppy-disk ml-2"></i></button>
                        <a href="/Client/Home/Index/" class="btn btn-default">Cancel <i class="icon-cross2  ml-2"></i></a>
                    </div>

                </div>
            </fieldset>
        }
    </div>
</div>


