@model ewallet.shared.Models.WalletUser.WalletUserInfo

@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("Client/ClientUser/Profile", "Details",ControllerDisplayName:"Profile");}
@section BreadCum{
    <style>
        .pull-right {
            float: right;
            margin-left: auto;
        }
    </style>
    @Html.Raw(BreadCum)
}
<div class="card">
    @Html.HiddenFor(Model => Model.PPImage)
    <div class="card-body">
        <fieldset class="mb-1">
            <div class="row">
                <div class="col-md-6">
                    @Html.NLabelFor(model => model.FullName, new { @class = "form-control", autocomplete = "off" }, 2)
                    @Html.NLabelFor(model => model.Email, new { @class = "form-control", autocomplete = "off" }, 2)
                    @Html.NLabelFor(model => model.MobileNo, new { @class = "form-control", autocomplete = "off" }, 2)
                    @Html.NLabelFor(model => model.CreatedLocalDate, new { @class = "form-control", autocomplete = "off" }, 2)
                </div>

                <div class="col-md-6">
                    <div>
                        @if (Model.PPImage != "" )
                        {
                            <img id="ProfiePic" src="@Model.PPImage" height="200" width="200" style="border: solid; text-align: center;" />
                         }  
                
                    </div>
                </div>
                
                
                
            </div>
        </fieldset>
    </div>
</div>

<script>

    $(document).ready(function () {

        document.getElementById("LogoView").src = $("#PPImage").val();
    });

</script>

