@model ewallet.application.Models.CardModel
@{
    ViewBag.Title = "Card Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{var BreadCum = ewallet.application.Library.ApplicationUtilities.GenerateBreadcum("Card", "Add Card");}
@section BreadCum{
    <style>
        .pull-right {
            float: right;
            margin-left: auto;
        }
    </style>
    @Html.Raw(BreadCum)
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("CardUpdate", "Card", new { }, FormMethod.Post, new { @role = "form", @id = "CardUpdate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(Model => Model.UserId)
            @Html.HiddenFor(Model => Model.AgentId)
            @Html.HiddenFor(Model => Model.CardNo)
            <fieldset class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        @Html.NLabelFor(model => model.CardNo, new { @class = "form-control", autocomplete = "off", @readonly = "readonly",value=@ViewBag.CardNo }, 1)
                        @Html.NDropDownListFor(model => model.CardType, Model.CardTypeList, new { @class = "form-control", autocomplete = "off" }, 1)
                    </div>
                    <div class="col-md-6">&nbsp;</div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success btn-sm" id="btnSubmit">Update <i class="icon-floppy-disk ml-2"></i></button>
                </div>
            </fieldset>
        }
    </div>
</div>



