@model ewallet.shared.Models.UserCommon
@{
    ViewBag.Title = "Search User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2" onclick="GoBack();"></i> <span class="font-weight-semibold">Settlement Report</span> - @Html.Raw(ViewData["Title"])</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none py-0 mb-3 mb-md-0">
            <div class="breadcrumb">
                <a href="~/Admin/Home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">@Html.Raw(ViewData["Title"])</span>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("SearchUser", "User", new { }, FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container" listing-container>
        <div class="container card-body">
            <div class="row">
                @Html.NDropDownListFor(model => model.SearchFilter, new SelectList(ViewBag.SearchFilter, "Value", "Text"), new { @class = "form-control", autocomplete = "off" }, 5)
                @Html.NTextBoxFor(model => model.SearchField, new { @class = "form-control", autocomplete = "off" }, 3)
            </div>
            <br />

            <div class="col-md-6" >
                <input type="submit" class="btn btn-primary" id="btnSearch" name="txtSearch" value="Search" />
            </div>

        </div>
    </div>
}


@if (ViewData["grid"] != null)
{
    @Html.Raw(ViewData["grid"].ToString());
}

<script>
    function isNumberKey(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
